body {
    background-color: rgb(141, 213, 255);
    font-family: 'Arial', sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}

.table th {
    background-color: azure;
}

.table-hover tbody tr:hover {
    background-color: azure;
    transform: bacground-color 0.3s ease;
}

.btn {
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}